<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM testng automation scripts">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReportListener" />
		<listener class-name="com.crm.qa.analyzer.MyTransformer" />
	</listeners>


	<test name="Regression">
		<classes>
			<class name="com.crm.qa.testcases.ContactsPageTest" />
			<!--<class name="com.crm.qa.testcases.HomePageTest" /> <class name="com.crm.qa.testcases.LoginPageTest" 
				/> -->
		</classes>
	</test>

	<!-- Test -->
</suite> <!-- Suite -->